.wrap {
    max-width: 87px;
    border: 1px solid #ACADB1;
    position: relative;
    display: inline-block;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
}
.clip {
    float: left;
    margin: 0px;
    width: 60px;
    height: 25px;
    font-size: 14px;
    line-height: 25px;
    vertical-align: middle;
    text-align: center;
    background-color: #33343e;
    color: white;
    opacity: 0.3;
}
.Drop {
    float: right;
    margin: 0px;
    border-left: 1px solid #1C1E29;
    width: 26px;
    height: 25px;
    font-size: 14px;
    line-height: 25px!important;
    vertical-align: middle;
    text-align: center;
    background-color: #33343e;
    color: white;
    opacity: 0.3;
}
    .clip:hover,
    .Drop:hover,
    .hasDropMenu
     {
        background-color: #161720;
        opacity: 1;
    }
    .Drop:active {
        opacity: 1;
    }
    .clip:active {
        opacity: 1;
    }
    

.MenuItem{
    font-size: 14px;
    list-style-type: none;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
}
.MenuItem:hover{
    border-bottom: 1px solid chartreuse;
}
#MenuWrap{
    max-width: 130px;
    border-radius: 4px;
    border:1px solid rgba(0,0,0,.15);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 5px;
    margin-top: 3px;
    background-color: #33343e;
    color: white;
}
#DropMenu{
}

